asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==5.2.15
django-cors-headers==4.9.0
djangorestframework==3.17.1
idna==3.18
numpy==2.5.0
opencv-python-headless==4.13.0.92
packaging==26.2
pillow==12.2.0
pytesseract==0.3.13
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
